<div *ngIf="isAuthenticated; else elseBlock" style="width: 80%; margin: 0 auto">
<header>
  <app-navigation (drawerEvent)="drawer.toggle()"></app-navigation>
</header>

<mat-drawer-container style="width: 80%; margin: 0 auto" class="drawer-container">
  <mat-drawer #drawer mode="over" class="drawer">
    <mat-list (click)="drawer.close() " role="list">
      <mat-list-item class="a_box" role="listitem">
          <a routerLink="home" routerLinkActive="active" style="display: flex; align-items: center; width: 100%;height: 100%">
            <div>
              <mat-icon style="margin-right: 8px">home</mat-icon>
            </div>
            <div>
              <span>Мои тесты</span>
            </div>
          </a>
      </mat-list-item>
      <mat-list-item class="a_box" role="listitem">
          <a routerLink="create-test" routerLinkActive="active" style="display: flex; align-items: center; width: 100%;height: 100%">
            <div>
              <mat-icon style="margin-right: 8px">library_add</mat-icon>
            </div>
            <div>
              <span>Создать тест</span>
            </div>
          </a>
      </mat-list-item>
      <mat-list-item class="a_box" role="listitem">
          <a routerLink="tasks" routerLinkActive="active" style="display: flex; align-items: center; width: 100%;height: 100%">
            <div>
              <mat-icon style="margin-right: 8px">assignment_turned_in</mat-icon>
            </div>
            <div>
              <span>Мои задания</span>
            </div>
          </a>
      </mat-list-item>
      <mat-list-item class="a_box" role="listitem">
          <a routerLink="contacts" routerLinkActive="active" style="display: flex; align-items: center; width: 100%;height: 100%">
            <div>
              <mat-icon style="margin-right: 8px">people</mat-icon>
            </div>
            <div>
              <span>Контакты</span>
            </div>
          </a>
      </mat-list-item>
      <mat-list-item class="a_box" role="listitem">
        <a routerLink="statistic" routerLinkActive="active" style="display: flex; align-items: center; width: 100%;height: 100%">
          <div>
            <mat-icon style="margin-right: 8px">insert_chart</mat-icon>
          </div>
          <div>
            <span>Статистика</span>
          </div>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
</div>

<ng-template #elseBlock>
  <router-outlet></router-outlet>
</ng-template>

