<div style="padding-top: 75px">
<div class="containerForGreeting">
    <div style="margin-top: 32px;">
      <img style="margin-bottom: 80px" src="../../../assets/svg/testika.svg" alt="logo">
      <div class="slogan">
        <h1 style="font-size: 36px; font-weight: 400; line-height: 42px; margin-bottom: 32px">Создавай, учись, учи</h1>
      </div>
      <p style="width: 456px; font-size: 16px; opacity: 50%; margin-bottom: 60px">
        Наше приложение поможет вам организовать процесс обучения. Здесь вы сможете создать викторину, поделиться ей с другими пользователями, а так же отследить их прогресс
      </p>
      <button style="margin-right: 8px; background-color: #1CB0E9; color: white; font-size: 16px;  border-radius: 32px; padding: 4px 16px; box-shadow: none " mat-raised-button type="button" (click)="toRegistration()">Регистрация</button>
      <button mat-button type="button" style="color: #1CB0E9" (click)="toLogin()">Войти</button>
    </div>
    <div>
      <img src="../../../assets/svg/greetIl.svg" alt="greeting illustration">
    </div>
</div>
</div>


